a {
  color: #333;
}
a:focus, a:hover {
    color: #333;
    text-decoration: none;
}
.header {
  position: fixed;
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #666;
}
.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.nav-row {
  display: flex;
  width: 100%;
  height: 100%;
}
.nav-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
}
.nav-item.on {
  color: #23527c;
}
.nav-item .text {
  font-size: 12px;
}
.nav-item .icon {
  margin-bottom: 6px;
  font-size: 16px;
}
