a {
  color: #333;
}
a:focus, a:hover {
    color: #333;
    text-decoration: none;
}
.header {
  position: fixed;
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #666;
  z-index: 980;
}
.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  text-align: center;
  border-top: 1px solid #ccc;
  z-index: 980;
}
.nav-row {
  display: flex;
  width: 100%;
  height: 100%;
}
.nav-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
}
.nav-item.on {
  color: #23527c;
}
.nav-item .text {
  font-size: 12px;
}
.nav-item .icon {
  margin-bottom: 6px;
  font-size: 16px;
}
.chatroon-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 38px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chatroom-container {
  width: 100%;
  height: 100%;
  background-color: #f9f6f6;
}
.chatroom-container .swiper-slide {
  padding: 0 10px;
  height: auto;
}
.chatroom-container .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.msg-list {
  margin: 0;
  padding: 0;
}
.msg-item {
  padding: 5px 0;
  list-style: none;
}
.msg-box {
  display: flex;
  position: relative;
}
.msg-box.mine {
  flex-direction: row-reverse;
}
.msg-box .avatar {
  width: 58px;
  height: 58px;
  background-color: #ccc;
}
.msg-box .msg {
  position: relative;
  flex: 1;
  padding: 0 12px;
  max-width: 78%;
}
.msg-box.mine .msg {
  text-align: right;
}
.msg-box .info {
  margin: 0;
  font-size: 12px;
  color: #ccc;
}
.msg-box .msg-bubble {
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  word-break: break-all;
}
.msg-box.mine .msg-bubble {
  background: #23527c;
  color: #fff;
}
.msg-box .msg-bubble:before {
  content: '';
  display: block;
  position: absolute;
  top: 28px;
  left: -3px;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #ccc transparent transparent;
  z-index: 10;
}
.msg-box.mine .msg-bubble:before {
  left: auto;
  right: -3px;
  border-color: transparent transparent transparent #ccc;
}
.msg-box .msg-bubble:after {
  content: '';
  display: block;
  position: absolute;
  top: 28px;
  left: -2px;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  z-index: 10;
}
.msg-box.mine .msg-bubble:after {
  left: auto;
  right: -2px;
  border-color: transparent transparent transparent #23527c;
}
.footer-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38px;
  text-align: center;
  border-top: 1px solid #ccc;
  z-index: 980;
}
.input-row {
  display: flex;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.input-text {
  flex: 1;
  width: 100px;
  height: 26px;
  border: none;
  border-bottom: 1px solid #23527c;
  outline: none;
}
.input-img {
  position: relative;
  width: 40px;
  height: 38px;
  overflow: hidden;
}
.input-img .imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}
.input-img .icon {
  top: 11px;
  font-size: 16px;
}
.send {
  width: 50px;
  cursor: pointer;
}
